{%- set identifier = project_name|replace(' ', '_')|regex_replace('(?<=[a-zA-Z])([A-Z])', '_\\1')|lower|trim -%}
{%- set add_on_path = project_name|replace(' ', '_')|regex_replace('(?<=[a-zA-Z])([A-Z])', '_\\1')|lower|trim  -%}

{
  "identifier": "com.seeq.{{ identifier }}",
  "name": "{{ project_name }}",
  "description": "{{ project_description }}",
  "version": "{{ project_version }}",
  "maintainer": "{{ project_maintainer }}",
  "license": "{{ project_license }}",
  "icon": "{{ project_icon }}",
  "elements": [
    {% if 'AddOnTool' in elements_to_include %}
    {
      "name": "{{ project_name }}",
      "identifier": "com.seeq.{{identifier}}.addontool",
      "description": "{{ addOnTool_description }}",
      "type": "AddOnTool",
      "path": "{{ add_on_path }}-addon-tool",
      "notebook_file_path": "addon_tool_example_target_notebook.ipynb"
      "configuration_schema": {
        "type": "object",
        "properties": {
          "display": {
            "type": "object",
            "properties": {
              "icon": {
                "type": "string",
                "default": "{{ addOnTool_icon }}"
              },
              "linkType": {
                "enum": ["window", "tab", "none"],
                "default": "{{ addOnTool_location }}"
              },
              "sortKey": {
                "type": "string",
                "default": "S"
              },
              "windowDetails": {
                "type": "string",
                "default": "{{ addOnTool_window_details }}"
              }
            },
            "required": [
              "icon",
              "linkType",
              "sortKey",
              "windowDetails"
            ]
          },
          "project": {
            "type": "object",
            "required": [{{ addOnTool_project_required_properties }}]
          }

        },
        "required": [
          "display",
          "project"
        ]
      },
      "configuration_filename": "config",
      "configuration_converter": "json"
    }{% if 'Plugin' in elements_to_include or 'DataLabFunctions' in elements_to_include or 'FormulaPackage' in elements_to_include %}, {% endif %}
    {% endif %}
    {% if 'Plugin' in elements_to_include %}
    {
      "name": "{{ project_name }} Plugin",
      "identifier": "com.seeq.{{identifier}}.plugin",
      "type": "Plugin",
      "category": "DisplayPane",
      "path": "{{ add_on_path }}-plugin"
    }{% if  'FormulaPackage' in elements_to_include %}, {% endif %}
    {% endif %}
    {% if 'ToolPanePlugin' in elements_to_include %}
    {
      "name": "{{ project_name }} Tool Pane Plugin",
      "identifier": "com.seeq.{{identifier}}.tool-pane-plugin",
      "type": "Plugin",
      "category": "ToolPane",
      "path": "{{ add_on_path }}-tool-pane-plugin"
    }{% if  'DataLabFunctions' in elements_to_include %}, {% endif %}
    {% endif %}
    {% if 'DataLabFunctions' in elements_to_include %}
    {
      "name": "{{ project_name }} Data Lab Functions",
      "identifier": "com.seeq.{{identifier}}.data-lab-functions",
      "type": "DataLabFunctions",
      "path": "{{ add_on_path }}-data-lab-functions",
      "configuration_schema": {    
        "type": "object",
        "properties": {
          "advanced_project_configuration": {
            "type": "object",
            "properties": {
              "kernel_name": {
                "type": "string",
                "default": "python311"
              }
            },
            "required": ["kernel_name"]
          }
        },
        "required": [
          "advanced_project_configuration"
        ]
      }
    }{% if  'FormulaPackage' in elements_to_include %}, {% endif %}
    {% endif %}
    {% if 'FormulaPackage' in elements_to_include %}
    {
      "name": "{{ project_name }} Formula Package",
      "identifier": "com.seeq.{{identifier}}.formulapackage",
      "type": "FormulaPackage",
      "path": "{{ add_on_path }}-formula-package"
    }
    {% endif %}
  ],
  "previews": [],
  "tags": {}
}
